@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
body 
{
	font-family: 'Source Sans Pro'
}
.navbar-brand
{
	display: block;
	float: none;
}
.wd_100
{
	width:100%;
	float: left;
}
.navbar
{
	margin-bottom: 0px;
}
.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header
{
	margin: 0;
}
.home_wrapper .indiv_screen 
{	
	padding: 20px;
	text-align: center;
	font-size: 16px;
	cursor: pointer;
}
.home_wrapper .indiv_screen:nth-child(odd)
{
	background-color: #eee;
}
.home_wrapper .indiv_screen:nth-child(even)
{
	background-color: #ccc;
}