@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

//Common classes
body
{
	font-family: 'Source Sans Pro'
}
.navbar-brand
{
	display: block;
	float: none;
}
.wd_100
{
	width:100%;
	float: left;
}
.navbar
{
	margin-bottom: 0px;
}
.inline_block
{
	display: inline-block;
}
.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header
{
	margin: 0;
}
.center_flex
{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
}
.ui-datepicker
{
	background-color: #ffffff;
	padding: 10px 20px;
	width: 220px;
}

.accordion-toggle .panel-heading:after
{
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    color: grey;
}
.accordion-toggle.collapsed:after
{
    content: "\e080";
}
.panel-title
{
	float:left;
}

.appointments_day_wrapper
{
    .indiv_customer
    {
        padding: 20px;
        text-align: left;
        font-size: 16px;
        cursor: pointer;
    }
    .profile_pic
    {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #eeeeee;
    }
    .indiv_customer:nth-child(odd)
    {
	      background-color: #fff;
    }
    .indiv_customer:nth-child(even)
    {
	      background-color: #ccc;
    }
}

.open_opp_wrapper
{
    .indiv_opp
    {
        padding: 20px;
        text-align: left;
        font-size: 16px;
        cursor: pointer;
    }
    .profile_pic
    {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #eeeeee;
    }
    .indiv_opp:nth-child(odd)
    {
	      background-color: #fff;
    }
    .indiv_opp:nth-child(even)
    {
	      background-color: #ccc;
    }
}

.appointments_details_wrapper
{
    .tabs_wrapper
    {
        padding-top: 20px;
    }
		.indiv_button
		{
				padding: 0 20px;
		}
		.btn
		{
				padding: 6px 25px;
		}
    .form-horizontal
    {
        padding-top: 20px;
    }
    .heading
    {
        background-color: #eee;
        padding-left: 15px;
    }
    .tab-content
    {
        padding-top: 20px;
        width: 100%;
        float: left;
    }
    .table
    {
        th , td
        {
            text-align: center;
        }
				.indiv_icon
        {
            padding: 0 10px;
            cursor: pointer;
        }
    }
		.icon
		{
  			display: inline-block;
  			width: 1em;
  			height: 1em;
  			stroke-width: 0;
  			stroke: currentColor;
  			fill: currentColor;
		}
}

.special_offers_wrapper
{
		.indiv_button
		{
				padding: 0 20px;
		}
		.btn
		{
				padding: 6px 25px;
		}
    .form-horizontal
    {
        padding-top: 20px;
    }
    .heading
    {
        background-color: #eee;
        padding-left: 15px;
    }
    .tab-content
    {
        padding-top: 20px;
        width: 100%;
        float: left;
    }
    .table
    {
        th , td
        {
            text-align: center;
        }
    }
    .add-on .input-group-btn > .btn
    {
        border-left-width:0;
        left:-2px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    }
    /* stop the glowing blue shadow */
    .add-on .form-control:focus
    {
        box-shadow:none;
        -webkit-box-shadow:none;
        border-color:#cccccc;
    }
    .search_results_wrapper
    {
        padding-top: 20px;
    }
}

.sales_leader_wrapper
{
    .heading
    {
        background-color: #eee;
        padding-left: 15px;
    }
    .table
    {
        th , td
        {
            text-align: center;
        }
    }
}

.kpi_wrapper
{
    .heading
    {
        background-color: #eee;
        padding-left: 15px;
    }
    .table
    {
        th , td
        {
            text-align: center;
        }
    }
    .search_results_wrapper
    {
        padding-top: 0px;
    }
}

.home_wrapper
{
    .indiv_screen
    {
        padding: 20px;
        text-align: center;
        font-size: 16px;
        cursor: pointer;
        width: 100%;
        float: left;
    }
    .indiv_screen:nth-child(odd)
    {
	      background-color: #eee;
    }
    .indiv_screen:nth-child(even)
    {
	      background-color: #ccc;
    }
    a
    {
        color: #333;
    }
}

@media screen and (max-width: 480px)
{
		.nav-tabs-responsive > li
		{
			display: none;
			width: 23%;
		}
		.nav-tabs-responsive > li > a
		{
			max-width: 100%;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			word-wrap: normal;
			width: 100%;
			width: 100%;
			text-align: center;
			vertical-align: top;
		}
		.nav-tabs-responsive > li.active
		{
			width: 54%;
		}
		.nav-tabs-responsive > li.active:first-child
		{
			margin-left: 23%;
		}
		.nav-tabs-responsive > li.active,
		.nav-tabs-responsive > li.prev,
		.nav-tabs-responsive > li.next
		{
			display: block;
		}
		.nav-tabs-responsive > li.prev,
		.nav-tabs-responsive > li.next
		{
			-webkit-transform: scale(0.9);
			transform: scale(0.9);
		}
		.nav-tabs-responsive > li.next > a,
		.nav-tabs-responsive > li.prev > a
		{
			-webkit-transition: none;
			transition: none;
		}
		.nav-tabs-responsive > li.next > a .text,
		.nav-tabs-responsive > li.prev > a .text
		{
			display: none;
		}
		.nav-tabs-responsive > li.next > a:after,
		.nav-tabs-responsive > li.next > a:after,
		.nav-tabs-responsive > li.prev > a:after,
		.nav-tabs-responsive > li.prev > a:after
		{
			position: relative;
			top: 1px;
			display: inline-block;
			font-family: 'Glyphicons Halflings';
			font-style: normal;
			font-weight: 400;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}
		.nav-tabs-responsive > li.prev > a:after
		{
			content: "\e079";
		}
		.nav-tabs-responsive > li.next > a:after
		{
			content: "\e080";
		}
}
.navbar-default .navbar-brand
{
	color: #333;
	font-weight: bold;
}
.toggletag {
    display:none;
}
.open {
    display:block;
}
